<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.google.marvinbernal</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>32A1018F-E7B0-43C4-ABB2-1E7C4E120E0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D67A231F-DF83-441E-9B7F-5F80C873705C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40040FD5-B124-4699-AA41-5E51BD126BC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90A5C2DE-0924-4CC0-A7FA-534A30A3CF2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57C3BB47-3181-4368-9A54-A357AD55C16D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>374C30C7-FB51-4353-8B67-EBFF90BCE129</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A90D48F-1B14-4708-8EDB-E3097E678B12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0751615-B5BB-4AC9-A62B-0AD8690D0B3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CBB52EF-09CE-4AF5-B81F-743B1FEAD76E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E3554BE-404E-437E-B948-4C9D58967E42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EA73043-3789-4FCE-B96A-74EB60F8B557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F9E4AC1-1922-408F-A978-F1C4C0D51CCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7946A751-97E2-4F7B-9ADE-48F870C85FFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C58801B-C15D-45CE-875E-E92045BBE6D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E36C6338-C25A-4E6B-B0CA-F041CACD99AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84C408A0-4CEF-4E91-B1F6-9E0BFC5F1F9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C07C4F2D-9499-43F9-93B3-7C4646543A1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D2B5B9B-9C64-46FE-8267-BF740D4FFA9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BEB498D-4360-4990-97E0-0D934BFADEDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9CEC34C-7E70-4180-89D1-35ABEFDA57B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>088669C7-5C92-45A7-8295-378EED890E5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA50ADB5-B372-4CD7-88AA-D0D291585A0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>088669C7-5C92-45A7-8295-378EED890E5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC2AF47B-63CA-456D-A2FF-6D287564681D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93AC4DF0-DA5C-4A4A-8EAF-9A228493544B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD18018F-5EFA-43A4-9234-9684A29B63A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DED9559-E122-4C18-A23E-21838F0B180A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA8CBB71-715D-4861-AD4C-42850243FDCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81728143-272D-4396-BEC5-50B3418DC6A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF006124-A48F-4CFF-9957-F2A42D28630F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BE01DD-AFA7-44DB-8D21-0B4BCB2197A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F120C342-7E6F-434A-933D-C5FD240AE895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93AC4DF0-DA5C-4A4A-8EAF-9A228493544B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marvin Bernal</string>
	<key>description</key>
	<string>Open Go links, Moma and Teams in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go Links</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>go/</string>
				<key>subtext</key>
				<string>Open short link</string>
				<key>text</key>
				<string>go/{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C321AC5-3A29-42BE-994A-F23820B0C82E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://go/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E36C6338-C25A-4E6B-B0CA-F041CACD99AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>moma/</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Moma for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>84C408A0-4CEF-4E91-B1F6-9E0BFC5F1F9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://moma/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C07C4F2D-9499-43F9-93B3-7C4646543A1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://who/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>088669C7-5C92-45A7-8295-378EED890E5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>who/</string>
				<key>subtext</key>
				<string>Googler</string>
				<key>text</key>
				<string>Visit {query}'s profile</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BA50ADB5-B372-4CD7-88AA-D0D291585A0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>teams/</string>
				<key>subtext</key>
				<string>Googler</string>
				<key>text</key>
				<string>Visit {query}'s profile</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B9CEC34C-7E70-4180-89D1-35ABEFDA57B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://what/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>90A5C2DE-0924-4CC0-A7FA-534A30A3CF2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>what/</string>
				<key>subtext</key>
				<string>Glossary</string>
				<key>text</key>
				<string>Look up '{query}' in Google Glossary</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40040FD5-B124-4699-AA41-5E51BD126BC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>m/</string>
				<key>subtext</key>
				<string>Open default mail app in Google Chrome</string>
				<key>text</key>
				<string>Mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D2B5B9B-9C64-46FE-8267-BF740D4FFA9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://m/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7BEB498D-4360-4990-97E0-0D934BFADEDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://c/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9F9E4AC1-1922-408F-A978-F1C4C0D51CCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>c/</string>
				<key>subtext</key>
				<string>Open Google Calendar</string>
				<key>text</key>
				<string>Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EA73043-3789-4FCE-B96A-74EB60F8B557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://w/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>81728143-272D-4396-BEC5-50B3418DC6A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>w/</string>
				<key>subtext</key>
				<string>Open Google Docs</string>
				<key>text</key>
				<string>Docs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CA8CBB71-715D-4861-AD4C-42850243FDCF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>e/</string>
				<key>subtext</key>
				<string>Open Outalator</string>
				<key>text</key>
				<string>Search Outalator for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F120C342-7E6F-434A-933D-C5FD240AE895</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://e/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>93AC4DF0-DA5C-4A4A-8EAF-9A228493544B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>o/</string>
				<key>subtext</key>
				<string>Open Outalator</string>
				<key>text</key>
				<string>Search Outalator for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC2AF47B-63CA-456D-A2FF-6D287564681D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://t/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C1BE01DD-AFA7-44DB-8D21-0B4BCB2197A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>t/</string>
				<key>subtext</key>
				<string>Open GUTs Ticket</string>
				<key>text</key>
				<string>t/{query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF006124-A48F-4CFF-9957-F2A42D28630F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>p/</string>
				<key>subtext</key>
				<string>Discover relevant tools &amp; libraries used and liked by other Googlers</string>
				<key>text</key>
				<string>Search Pegboard for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7946A751-97E2-4F7B-9ADE-48F870C85FFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://p/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3C58801B-C15D-45CE-875E-E92045BBE6D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://s/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B0751615-B5BB-4AC9-A62B-0AD8690D0B3F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>s/</string>
				<key>subtext</key>
				<string>Open Code Search</string>
				<key>text</key>
				<string>Search Code Search for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5A90D48F-1B14-4708-8EDB-E3097E678B12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>d/</string>
				<key>subtext</key>
				<string>Open D Global Dashboard</string>
				<key>text</key>
				<string>D Global Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>32A1018F-E7B0-43C4-ABB2-1E7C4E120E0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://d/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D67A231F-DF83-441E-9B7F-5F80C873705C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>g/</string>
				<key>subtext</key>
				<string>Search Groups</string>
				<key>text</key>
				<string>Open '{query}' group</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD18018F-5EFA-43A4-9234-9684A29B63A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://g/{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7DED9559-E122-4C18-A23E-21838F0B180A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://h/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6E3554BE-404E-437E-B948-4C9D58967E42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>h/</string>
				<key>subtext</key>
				<string>Search Herodotus</string>
				<key>text</key>
				<string>Search Herodotus for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CBB52EF-09CE-4AF5-B81F-743B1FEAD76E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>b/</string>
				<key>subtext</key>
				<string>Search Buganizer</string>
				<key>text</key>
				<string>Search Buganizer for '{query}'</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>57C3BB47-3181-4368-9A54-A357AD55C16D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://b/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>374C30C7-FB51-4353-8B67-EBFF90BCE129</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Essential shortcuts such as go/, moma/ and who/ all accessible from Alfred.


(Also other shortcuts such as m/, c/, p/ and the entire remainder of the alphabet all accessible from Alfred.)</string>
	<key>uidata</key>
	<dict>
		<key>088669C7-5C92-45A7-8295-378EED890E5D</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>32A1018F-E7B0-43C4-ABB2-1E7C4E120E0E</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1870</integer>
		</dict>
		<key>374C30C7-FB51-4353-8B67-EBFF90BCE129</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>2290</integer>
		</dict>
		<key>3C58801B-C15D-45CE-875E-E92045BBE6D1</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1580</integer>
		</dict>
		<key>40040FD5-B124-4699-AA41-5E51BD126BC4</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>57C3BB47-3181-4368-9A54-A357AD55C16D</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>2290</integer>
		</dict>
		<key>5A90D48F-1B14-4708-8EDB-E3097E678B12</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1730</integer>
		</dict>
		<key>6CBB52EF-09CE-4AF5-B81F-743B1FEAD76E</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>2150</integer>
		</dict>
		<key>6E3554BE-404E-437E-B948-4C9D58967E42</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>2150</integer>
		</dict>
		<key>6EA73043-3789-4FCE-B96A-74EB60F8B557</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>7946A751-97E2-4F7B-9ADE-48F870C85FFD</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1580</integer>
		</dict>
		<key>7BEB498D-4360-4990-97E0-0D934BFADEDC</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7DED9559-E122-4C18-A23E-21838F0B180A</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>2010</integer>
		</dict>
		<key>81728143-272D-4396-BEC5-50B3418DC6A6</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>84C408A0-4CEF-4E91-B1F6-9E0BFC5F1F9E</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8D2B5B9B-9C64-46FE-8267-BF740D4FFA9C</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>90A5C2DE-0924-4CC0-A7FA-534A30A3CF2E</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>93AC4DF0-DA5C-4A4A-8EAF-9A228493544B</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>9F9E4AC1-1922-408F-A978-F1C4C0D51CCF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>B0751615-B5BB-4AC9-A62B-0AD8690D0B3F</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1730</integer>
		</dict>
		<key>B9CEC34C-7E70-4180-89D1-35ABEFDA57B5</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>BA50ADB5-B372-4CD7-88AA-D0D291585A0C</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>BC2AF47B-63CA-456D-A2FF-6D287564681D</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>BD18018F-5EFA-43A4-9234-9684A29B63A7</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>2010</integer>
		</dict>
		<key>C07C4F2D-9499-43F9-93B3-7C4646543A1F</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C1BE01DD-AFA7-44DB-8D21-0B4BCB2197A8</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1440</integer>
		</dict>
		<key>CA8CBB71-715D-4861-AD4C-42850243FDCF</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>CF006124-A48F-4CFF-9957-F2A42D28630F</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1440</integer>
		</dict>
		<key>D67A231F-DF83-441E-9B7F-5F80C873705C</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>1870</integer>
		</dict>
		<key>E36C6338-C25A-4E6B-B0CA-F041CACD99AB</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F120C342-7E6F-434A-933D-C5FD240AE895</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>who/marvinbernal</string>
</dict>
</plist>
